.Card__Card-Container {
  border: 1px solid red;
  width: 100%;
  height: 240px;
  /*need a final solution to height*/
}
.Card__Card-Container .Card-Container__Card {
  border: 5px solid green;
  width: 40%;
  height: 100%;
  margin: auto;
}
.Card__Card-Container .Card-Container__Card .Card__Card-Content {
  border: 1px solid blue;
}
.Card__Card-Container .Card-Container__Card .Card__Card-Content .Card-Content__Card-Title {
  border: 1px solid pink;
}
.Card__Card-Container .Card-Container__Card .Card__Card-Content .Card-Content__Card-Question {
  border: 1px solid yellow;
}
